@import "tailwindcss";

#userContainer::-webkit-scrollbar {
    width: 6px;
}
#userContainer::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 3px;
}
#userContainer::-webkit-scrollbar-track {
    background-color: transparent;
}
